# Copy this file to .dev.vars for local development. Never commit this file after filling it in.
TURNSTILE_MANAGED_SITEKEY=
TURNSTILE_NON_INTERACTIVE_SITEKEY=
TURNSTILE_INVISIBLE_SITEKEY=
TURNSTILE_MANAGED_SECRET=
TURNSTILE_NON_INTERACTIVE_SECRET=
TURNSTILE_INVISIBLE_SECRET=
